body {
    margin: 0
}

.navbar {
    background-color: lightgreen;
    padding: 5px 5px 5px 20px;
    text-align: left;
}

.container {
    font-size: 20px;
    margin-left: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 20px;
}

p {
    margin: 0;
}

span {
    background-color: orange;
    padding: 8px;
    display: inline-block;
    margin-left: 10px;
}